OAS 3.2 introduces a new way to document additional (non-standard) HTTP methods in the [path item object](https://spec.openapis.org/oas/v3.2.0.html#path-item-object). The project is currently using 3.0.1 and [there's a back port available](https://spec.openapis.org/registry/extension/x-oai-additionalOperations.html) via `x-oai-additionalOperations`

Still need to research which parsers actually process this, but it seems like even if the support is sparse, we should document it.

Also in my research it looks like there is an upcoming standard to introduce [`QUERY`](https://datatracker.ietf.org/doc/rfc10008/) as an http method. See Appendix B for `SEARCH` as it relates to `QUERY`
>Appendix B.  Selection of the Method Name 'QUERY'
>
>   The "Hypertext Transfer Protocol (HTTP) Method Registry"
>   (<http://www.iana.org/assignments/http-methods>) already contains
>   three other methods with the properties "safe" and "idempotent":
>   "PROPFIND" [RFC4918], "REPORT" [RFC3253], and "SEARCH" [RFC5323].
>
>   It would have been possible to reuse any of these, updating it in a
>   way that it matches what this specification defines as the new method
>   "QUERY".  Indeed, the early stages of this specification used
>   "SEARCH".

I think for this issue I'll just use the `x-oai-additionalOperations` with `SEARCH` because that's what is implemented but it may be worth looking at `QUERY` as an alternative/transition. It also may just be extra work for a feature that is likely not used heavily by most projects. I'll do more research on which API parsers support `SEARCH` vs. `QUERY` and develop a stronger opinion after that.